<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="message" value="Hello World!" />
    <add key="message2" value="Hello World 2!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="connection1" connectionString="test 1" providerName="provider 1" />
    <add name="connection2" connectionString="test 2" providerName="provider 2" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" timeout="300" />
    </authentication>
    <compilation debug="true" />
    <customErrors mode="Off" defaultRedirect="/Errors/GenericError">
      <error statusCode="403" redirect="/Errors/Error403" />
      <error statusCode="404" redirect="/Errors/Error404" />
      <error statusCode="405" redirect="/Errors/Error405" />
      <error statusCode="500" redirect="/Errors/Error500" />
      <error statusCode="503" redirect="/Errors/Error503" />
    </customErrors>
    <globalization culture="en-US" />
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" />
    <identity impersonate="true" />
    <trace enabled="false" localOnly="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>